{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<h1> Bienvenu dans notre site These</h1>

<div> <h2>Notre sites contient differente theses postés par des doctorants des écoles doctorals de l'université de Montpellier ,<br>
vous avez la posibilité de consulter les theses avec leurs descriptions et acceder meme à l'école doctoral en question ,<br>
bonne navigation ...</h2></div>

<p><a href="{{path('theses')}}">Listes des Theses<a/><p/>
{% endblock %}
